# {{ ansible_managed }} :: {{ ansible_role_name }}

{% if etcresolvconf_domain %}
# domain
domain {{ etcresolvconf_domain }}
{% endif %}

{% if etcresolvconf_search %}
# search
search {% for search in etcresolvconf_search %}{{ search }} {% endfor %}
{% endif %}


# nameservers
{% for server in etcresolvconf_dnsservers %}
nameserver {{ server }}
{% endfor %}
