# {{ ansible_managed }} :: {{ ansible_role_name }}

# begin domain
domain {{ etcresolvconf_domain }}
# end domain

# begin nameservers
{% for server in etcresolvconf_dnsservers %}
nameserver {{ server }}
{% endfor %}
# end nameservers
